<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pax.market.android.app.sdk">

    <application android:allowBackup="true"
                 android:label="@string/app_name">
        <service android:name=".RPCService" android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_RPC_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
