<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pax.market.android.app.sdk">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--   FOR MARKET CLIENT  -->
    <uses-permission android:name="com.market.android.app.OPEN_DETAIL_PAGE" />
    <uses-permission android:name="com.market.android.app.OPEN_DOWNLOAD_LIST" />
    <uses-permission android:name="com.market.android.app.ONLINE_LOCATION" />
    <uses-permission android:name="com.market.android.app.SN_HOST" />


<!--    <uses-permission android:name="com.market.android.app.OLD_LOCATION" />-->
<!--    <uses-permission android:name="com.market.android.app.TERMINAL_INFO" />-->
    <!--    END  -->


    <application android:allowBackup="true"
                 android:label="@string/app_name">

        <service android:name=".RPCService"
                 android:permission="com.market.android.app.sdk.INSTALL_INQUIRER"
                 android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.ACTION_RPC_SERVICE" />
            </intent-filter>
        </service>

        <receiver android:name=".DownloadParamReceiver"
            android:permission="com.market.android.app.sdk.DOWNLOAD_PARAM_BD"
            android:exported="true">
            <intent-filter>
                <action android:name="com.paxmarket.ACTION_TO_DOWNLOAD_PARAMS" />
                <action android:name="com.sdk.ACTION_TO_DOWNLOAD_PARAMS" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service android:name=".CloudMessageService"
            android:permission="com.market.android.app.sdk.CLOUD_MSG"
            android:exported="true">
            <intent-filter>
                <action android:name="com.paxstore.mpush.CLOUD_MESSAGE_RECEIVED"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>
        <service android:name=".ParamService"
            android:permission="com.market.android.app.sdk.DOWNLOAD_PARAM_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="com.market.service.ACTION_TO_DOWNLOAD_PARAMS"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>
        <service android:name=".DelayService" />

        <activity android:name=".MessagerActivity" />


        <!-- Add below meta-data to indicate that this sdk support multi-dis env -->
        <meta-data android:name="DIS_SUPPORTED"
            android:value="true"/>


        <!-- Add below meta-data to support GoInsight -->
        <meta-data android:name="STORE_SDK_VERSION"
            android:value="${versionName}"/>
    </application>

</manifest>
