<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pax.android.demoapp">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_demo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GenerateDataActivity" />
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <service android:name=".DownloadParamService">
            <intent-filter>
                <action android:name="com.sdk.service.ACTION_TO_DOWNLOAD_PARAMS"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>

        <receiver android:name=".PushMessageReceiver"
                  android:enabled="true"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.paxstore.mpush.NOTIFY_DATA_MESSAGE_RECEIVED" />
                <action android:name="com.paxstore.mpush.DATA_MESSAGE_RECEIVED" />
                <action android:name="com.paxstore.mpush.NOTIFICATION_MESSAGE_RECEIVED" />
                <action android:name="com.paxstore.mpush.NOTIFY_MEDIA_MESSAGE_RECEIVED" />
                <action android:name="com.paxstore.mpush.NOTIFICATION_CLICK" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Add below meta-data to support Cloud Message -->
        <meta-data android:name="PAXVAS_CloudMessage"
            android:value="true"/>

        <!-- Add below meta-data to support GoInsight -->
        <meta-data android:name="PAXVAS_Insight"
            android:value="true"/>

    </application>

</manifest>